body {
  background-color: #EEEEEE;
}

.container {
  width: 2.2in;
  height: 1.5in !important;
  padding: 0;
  margin: auto;
  /* background-color: #191414; */
}

.carousel-inner {
  width: 1.5in;
  height: 1.5in !important;
  background-color: #191414;
}

.chevron-left {
  margin-left: -0.08in;
  background-image: linear-gradient(to right,rgba(0,0,0,.000) 0,rgba(0,0,0,0) 100%) !important;
}


.chevron-right {
  margin-right: -0.07in;
  background-image: linear-gradient(to right,rgba(0,0,0,.000) 0,rgba(0,0,0,0) 100%) !important;
}

.chevron {
  color: #cccccc;
  width: 0.35in !important;
  height: 0.35in !important;
  margin-top: 0.6in;
}

.chevron-down {
  margin-top: -0.1in !important;
  margin-left: 0.6in !important;
  height: 0.35in !important;
  width: 0.35in !important;
}

.icon {
  width: 0.6in !important;
  height: 0.6in !important;
}

.btn-icon {
  background-color: #191414;
  width: 0.25in;
  margin: auto 0.6in;
  padding: 0;
  border: 0;
  color: #999999
}

p .material-icons {
  font-size: 14px;
}

.notification {
  height: 0.25in !important;
  width: 0.25in !important;
  margin: 0 !important;
}

.item {
  width: 1.5in;
  height: 1.5in !important;
}

.item h1 {
  padding: auto;
  margin-top: 0.2in auto;
  font-size: 0.4in;
  text-align: center;
  height: 0.4in;
  line-height: 0.4in;
  color: #cccccc;
}

.item h2 {
  margin-top: 14px;
  text-align: center;
  font-size: 0.2in;
  color: #999999;
  height: 0.4in;
}

.item h3 {
  font-size: 0.2in;
  text-align: center;
  color: #e6e6e6
}

.item-notification h2 {
  margin-top: 14px;
  text-align: center;
  font-size: 0.12in;
  color: #999999;
  height: 0.4in;
}

.item-notification p {
    margin: 0.1in 0.2in;
    color: #CCCCCC
}

.stage h1 {
  margin-top: 14px;
  text-align: center;
  font-size: 0.3in;
  color: #DDDDDD;
  height: 0.4in !important;
  line-height: 0.4in !important;
  margin: 0 auto !important;
}

.stage h2 {
  margin-top: 14px;
  text-align: center;
  font-size: 0.2in !important;
  color: #cccccc !important;
  line-height: 0.25in !important;
  margin: 0 auto;
}

.stage h3 {
  font-size: 0.2in !important;
  text-align: center !important;
  line-height: 0.4in !important;
  margin: 0 auto !important;
  color: #999999;
}

.item img {
  margin: 0.1in auto;
  width:1in;
  height:1in;
}

.page {
  margin: 0px auto 0 auto;
  padding: 0;
  display: block; border:solid #000 1px;
  width: 1.5in;
  height: 1.5in !important;
  background-color: #191414;
}
.content {
    text-align: justify;
    padding:0;
    overflow: hidden; overflow-x:hidden;
    height:100%
    /*-webkit-overflow-scrolling: touch;*/
}

.poster-image {
   height: 1.5in !important;
   width: 1.5in !important;
   background-position: center;
   z-index: -1;
}

.btn {
  height: 0.3in;
  width: 0.3in;
  margin: auto;
}

.btn-reset {
  margin-top: 0.3in;
}

.btn-back {
  margin-top: 0.3in;
}

.btn img {
  height: 0.2in;
  width: 0.2in;
  margin-left: -8px;
  margin-top: -9px;
}

.btn-up {
  margin-top: 0.3in;
}

.btn-down {
  margin-top: 0.3in;
}
