.container {
  width: 1.5in;
  height: 1.5in !important;
  padding: 0;
  margin: auto;
}

.carousel-inner {
  width: 1.5in;
  height: 1.5in !important;
  background-color: #191414;
}

.chevron {
  color: #cccccc;
  width: 0.5in !important;
  height: 0.5in !important;
  margin-top: 0.6in;
}

.chevron-down {
  margin-top: -0.1in !important;
  margin-left: 0.6in !important;
  height: 0.35in !important;
  width: 0.35in !important;
}

.icon {
  width: 0.6in !important;
  height: 0.6in !important;
}

.item {
  width: 1.5in;
  height: 1.5in !important;
}

.item h1 {
  padding: auto;
  margin-top: 0.2in auto;
  font-size: 0.4in;
  text-align: center;
  height: 0.4in;
  line-height: 0.4in;
  color: #cccccc;
}

.item h2 {
  margin-top: 14px;
  text-align: center;
  font-size: 0.2in;
  color: #cccccc;
  height: 0.4in;
}

.item h3 {
  font-size: 0.2in;
  text-align: center;
}

.stage h1 {
  margin-top: 14px;
  text-align: center;
  font-size: 0.3in;
  color: #DDDDDD;
  height: 0.4in !important;
  line-height: 0.4in !important;
  margin: 0 auto !important; 
}

.stage h2 {
  margin-top: 14px;
  text-align: center;
  font-size: 0.2in !important;
  color: #cccccc !important;
  line-height: 0.25in !important;
  margin: 0 auto; 
}

.stage h3 {
  font-size: 0.2in !important;
  text-align: center !important;
  line-height: 0.4in !important;
  margin: 0 auto !important;
}

.item img {
  margin: 0.1in auto;
  width:1in;
  height:1in;
}
