.container {
  width: 1.5in;
  height: 1.5in !important;
  padding: 0;
  margin: auto;
}

.item h1 {
  font-size: 0.4in;
  text-align: center;
  height: 1in;
  line-height: 1in;
}

.item h2 {
  text-align: center;
  font-size: 0.2in;
}

.item img {
  margin: 0.1in auto;
  width:1in;
  height:1in;
}
